@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding:0;
    margin:0;
}

img{
    display: block;
    max-width: 100%;
}

.container{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

td{
    margin:auto;
    text-align: center;

}

td>img{
    margin:auto;
}

button:active{
    transform:translateY(1px)
}


@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

@media only screen and (min-width: 768px){
.container{
padding-left: 10rem;
padding-right: 10rem;
}



}
    
